---
import Nav from "../components/Nav.astro";
import ProductCard from "../components/ProductCard.astro";
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
	<Nav />
	<h1>Products</h1>
	<main class="productgrid"> 
		<ProductCard image= "https://picsum.photos/id/65/150/150" text="her kommer tekst" header="Et par sko"/>
		<ProductCard image= "https://picsum.photos/id/68/150/150" text="her kommer tekst" header="Bukser"/>
		<ProductCard image= "https://picsum.photos/id/76/150/150" text="her kommer tekst" header="Skjorte"/>
	</main>
</body>
</html>

<style>
	.productgrid{
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
		gap: 1rem;}
		
</style>
 