    <nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/">Home</a></li>
			<li><a href="/">Home</a></li>
			<li><a href="/">Home</a></li>
		</ul>
	</nav>

    <style> 
    ul {
        list-style-type: none;
        margin: 0%;
        padding: 0%;
        display: flex;
        gap: 5%;
        justify-content:flex-end;
    }
    </style>